#userimg{
	border-radius: 80px;
	width:100%;
	border:1px solid #ccc;
	padding:5px;
}
label{
	//height:35px;
}
.form-control{
	background:#eceff1;
	border: 1px solid #cfd8dc;
}
.badge{
	font-size:1em;
	letter-spacing: 1px;
	font-weight:normal;
	background:#3796db;
}